In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, VarcharType, TimestampType, DoubleType
from pyspark.sql.functions import lower,upper,initcap,concat,concat_ws,lit,substring,col,format_string,lpad #Import string transformation functions

In [4]:
def get_spark_session(app_name):
    return SparkSession.builder.appName(app_name).getOrCreate()

In [5]:
def load_file_to_dataframe(spark,file,schema):
    dataframe = spark.read.json(file)

    return dataframe

In [6]:
def transform_customer(dataframe):
    transformed_dataframe = dataframe.withColumn('FIRST_NAME',initcap(dataframe['FIRST_NAME'])) \
                                     .withColumn('MIDDLE_NAME',lower(dataframe['MIDDLE_NAME'])) \
                                     .withColumn('LAST_NAME',initcap(dataframe['LAST_NAME'])) \
                                     .withColumn('FULL_STREET_ADDRESS',concat_ws(',',dataframe['APT_NO'],dataframe['STREET_NAME'])) \
                                        .drop('APT_NO') \
                                        .drop('STREET_NAME') \
                                     .withColumn('CUST_PHONE',
                                                   concat(
                                                   lit('('),
                                                   substring(dataframe['CUST_PHONE'],1,3),
                                                   lit(')'),
                                                   substring(dataframe['CUST_PHONE'],4,3),
                                                   lit('-'),
                                                   substring(dataframe['CUST_PHONE'],7,4)
                                                   )
                                                )
    transformed_dataframe.show()
    transformed_dataframe.printSchema()
    return transformed_dataframe

In [7]:
def transform_credit(dataframe):
    transformed_dataframe = dataframe.withColumn('TIMEID',concat(format_string("%04d",col('YEAR').cast('int')),format_string("%02d",col('MONTH').cast('int')),format_string("%02d",col('DAY').cast('int')))) \
                                        .drop('DAY') \
                                        .drop('MONTH') \
                                        .drop('YEAR')
    transformed_dataframe.show()
    return transformed_dataframe

In [8]:
def transform_branch(dataframe):
    #Note - col function works on chained value vs dataframe['column_name'] does not. Phone was giving errors when changed after adding padded values
    transformed_dataframe = dataframe.fillna(value=999999,subset=['BRANCH_ZIP']) \
                                     .withColumn('BRANCH_ZIP',concat(format_string("%05d",col('BRANCH_ZIP')))) \
                                     .withColumn('BRANCH_PHONE',lpad(dataframe['BRANCH_PHONE'],10,'123'))\
                                     .withColumn('BRANCH_PHONE',
                                                   concat(
                                                   lit('('),
                                                   substring(col('BRANCH_PHONE'),1,3),
                                                   lit(')'),
                                                   substring(col('BRANCH_PHONE'),4,3),
                                                   lit('-'),
                                                   substring(col('BRANCH_PHONE'),7,4)
                                                   )
                                                )
    transformed_dataframe.show()
    return transformed_dataframe

In [9]:
def dataframe_to_temp_view(dataframe,view_name):
    dataframe.createOrReplaceTempView(view_name)

In [10]:
def load_dataframe_to_db(clean_dataframe, table_name, schema):

    from config import db
    db_user = db.get('DATABASE_USER')
    db_pass = db.get('DATABASE_PASSWORD')

    #Note: Default write mode is 'overwrite' which deletes the table and recreates it
    clean_dataframe.select("*").write.format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
    .option("dbtable", "creditcard_capstone."+table_name) \
    .option("user", db_user) \
    .option("password", db_pass) \
    .option("mode", "overwrite") \
    .option("truncate", "true") \
    .option("header","false") \
    .option("createTableColumnTypes", schema) \
    .save()

In [11]:
spark = get_spark_session('ETL_Loan_Application')

file_list = {
                'transform_branch':'data_sets/cdw_sapp_branch.json',
                'transform_credit':'data_sets/cdw_sapp_credit.json',
                'transform_customer':'data_sets/cdw_sapp_customer.json'
            }

# schema_df_branch = StructType([ \
#                                 StructField("BRANCH_CODE",IntegerType(),True), \
#                                 StructField("BRANCH_NAME",VarcharType(25),True), \
#                                 StructField("BRANCH_STREET",VarcharType(50),True), \
#                                 StructField("BRANCH_CITY", VarcharType(50), True), \
#                                 StructField("BRANCH_STATE", VarcharType(2), True), \
#                                 StructField("BRANCH_ZIP", IntegerType(), True), \
#                                 StructField("BRANCH_PHONE", VarcharType(10), True), \
#                                 StructField("LAST_UPDATED", TimestampType(), True) \
#                             ])

# schema_df_credit = StructType([ \
#                                 StructField("TRANSACTION_ID",IntegerType(),True), \
#                                 StructField("DAY",VarcharType(2),True), \
#                                 StructField("MONTH",VarcharType(2),True), \
#                                 StructField("YEAR",VarcharType(4),True), \
#                                 StructField("CREDIT_CARD_NO", VarcharType(16), True), \
#                                 StructField("CUST_SSN", IntegerType(), True), \
#                                 StructField("BRANCH_CODE", IntegerType(), True), \
#                                 StructField("TRANSACTION_TYPE", VarcharType(25), True), \
#                                 StructField("TRANSACTION_VALUE", DoubleType(), True) \
#                             ])

# schema_df_customer = StructType([ \
#                                 StructField("FIRST_NAME",VarcharType(25),True), \
#                                 StructField("MIDDLE_NAME",VarcharType(25),True), \
#                                 StructField("LAST_NAME",VarcharType(25),True), \
#                                 StructField("SSN",IntegerType(),True), \
#                                 StructField("CREDIT_CARD_NO", VarcharType(16), True), \
#                                 StructField("APT_NO", VarcharType(10), True), \
#                                 StructField("STREET_NAME", VarcharType(50), True), \
#                                 StructField("CUST_CITY", VarcharType(50), True), \
#                                 StructField("CUST_STATE", VarcharType(2), True), \
#                                 StructField("CUST_COUNTRY", VarcharType(25), True), \
#                                 StructField("CUST_ZIP", IntegerType(), True), \
#                                 StructField("CUST_PHONE", VarcharType(13), True), \
#                                 StructField("CUST_EMAIL", VarcharType(50), True), \
#                                 StructField("LAST_UPDATED", TimestampType(), True) \
#                             ])


# schema_transform_branch = StructType([ \
#                                 StructField("BRANCH_CODE",IntegerType(),True), \
#                                 StructField("BRANCH_NAME",StringType(),True), \
#                                 StructField("BRANCH_STREET",StringType(),True), \
#                                 StructField("BRANCH_CITY", StringType(), True), \
#                                 StructField("BRANCH_STATE", StringType(), True), \
#                                 StructField("BRANCH_ZIP", IntegerType(), True), \
#                                 StructField("BRANCH_PHONE", StringType(), True), \
#                                 StructField("LAST_UPDATED", TimestampType(), True) \
#                             ])

# schema_transform_credit = StructType([ \
#                                 StructField("TRANSACTION_ID",IntegerType(),True), \
#                                 StructField("DAY",StringType(),True), \
#                                 StructField("MONTH",StringType(),True), \
#                                 StructField("YEAR",StringType(),True), \
#                                 StructField("CREDIT_CARD_NO", StringType(), True), \
#                                 StructField("CUST_SSN", IntegerType(), True), \
#                                 StructField("BRANCH_CODE", IntegerType(), True), \
#                                 StructField("TRANSACTION_TYPE", StringType(), True), \
#                                 StructField("TRANSACTION_VALUE", DoubleType(), True) \
#                             ])

# schema_transform_customer = StructType([ \
#                                 StructField("FIRST_NAME",StringType(),True), \
#                                 StructField("MIDDLE_NAME",StringType(),True), \
#                                 StructField("LAST_NAME",StringType(),True), \
#                                 StructField("SSN",IntegerType(),True), \
#                                 StructField("CREDIT_CARD_NO", StringType(), True), \
#                                 StructField("APT_NO", StringType(), True), \
#                                 StructField("STREET_NAME", StringType(), True), \
#                                 StructField("CUST_CITY", StringType(), True), \
#                                 StructField("CUST_STATE", StringType(), True), \
#                                 StructField("CUST_COUNTRY", StringType(), True), \
#                                 StructField("CUST_ZIP", IntegerType(), True), \
#                                 StructField("CUST_PHONE", StringType(), True), \
#                                 StructField("CUST_EMAIL", StringType(), True), \
#                                 StructField("LAST_UPDATED", TimestampType(), True) \
#                             ])

schema_transform_branch = "BRANCH_NAME varchar(25), BRANCH_STREET varchar(50), BRANCH_CITY varchar(50), BRANCH_STATE varchar(2), BRANCH_PHONE varchar(15), LAST_UPDATED timestamp"

schema_transform_credit = "TIMEID varchar(8), CREDIT_CARD_NO varchar(16), TRANSACTION_TYPE varchar(25)"

schema_transform_customer = "FIRST_NAME varchar(50), MIDDLE_NAME varchar(50), LAST_NAME varchar(50), CREDIT_CARD_NO varchar(16), FULL_STREET_ADDRESS varchar(200), CUST_CITY varchar(50), CUST_STATE varchar(2), CUST_COUNTRY varchar(25), CUST_PHONE varchar(13), CUST_EMAIL varchar(50)"

for file_transform, file_path in file_list.items():
    
    #df_name = load_file_to_dataframe(spark, file_path, schema_df_branch)
    schema = 'schema_'+str(file_transform) #Generate dynamic variable to get runtime schema using locals()
    #dataframe = spark.read.json(file_path,schema=locals()[schema])
    dataframe = load_file_to_dataframe(spark, file_path, locals()[schema])
    clean_dataframe = locals()[file_transform](dataframe) #locals used to call function in local scope or it parses it as string

    table_name = file_path.partition('/')[2].partition('.')[0]
    load_dataframe_to_db(clean_dataframe, table_name, locals()[schema])
    #dataframe.printSchema()

#Notes -
#help(spark.read.json) # help function is used to show the documentation, parameters for the function etc..
#Ctrl+Space will give prompts for function

+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME| BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|(123)456-5276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|(123)461-8993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|(123)498-5926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|(123)466-3064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|(123)484-9701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|(123)414-4890|          NJ|   Jefferson Street|     07501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|(123)467-8272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|(123)467-5219|          CT|    Jefferson Court|     06109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|(123)414-5047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|(123)436-6354|          NJ|    3rd Street West|     08844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|(123)486-7175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|(123)493-8460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|(123)446-2043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|(123)485-7525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|(123)454-6360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|(123)482-4455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|(123)448-4380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|(123)484-0138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|(123)436-2433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|(123)492-2492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

+-----------+----------------+---------+--------------+----------------+-----------------+--------+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|  TIMEID|
+-----------+----------------+---------+--------------+----------------+-----------------+--------+
|        114|4210653349028689|123459988|             1|       Education|             78.9|20180214|
|         35|4210653349028689|123459988|             2|   Entertainment|            14.24|20180320|
|        160|4210653349028689|123459988|             3|         Grocery|             56.7|20180708|
|        114|4210653349028689|123459988|             4|   Entertainment|            59.73|20180419|
|         93|4210653349028689|123459988|             5|             Gas|             3.59|20181010|
|        164|4210653349028689|123459988|             6|       Education|             6.89|20180528|
|        119|4210653349028689|123459988|             7|   Entertainment|            43.39|20180519|
|         23|4210653349028689|123459988|             8|             Gas|            95.39|20180808|
|        166|4210653349028689|123459988|             9|   Entertainment|            93.26|20180318|
|         83|4210653349028689|123459988|            10|           Bills|           100.38|20180903|
|         52|4210653349028689|123459988|            11|             Gas|            98.75|20180821|
|         17|4210653349028689|123459988|            12|             Gas|            42.71|20181224|
|         80|4210653349028689|123459988|            13|         Grocery|            40.24|20180403|
|         50|4210653349028689|123459988|            14|           Bills|            17.81|20180415|
|        123|4210653349028689|123459988|            15|           Bills|             29.0|20180517|
|          9|4210653349028689|123459988|            16|            Test|            70.63|20180706|
|          3|4210653349028689|123459988|            17|            Test|            27.04|20180928|
|        135|4210653349028689|123459988|            18|   Entertainment|            88.75|20180704|
|        103|4210653349028689|123459988|            19|            Test|            77.02|20180424|
|         78|4210653349028689|123459988|            20|           Bills|            34.34|20181008|
+-----------+----------------+---------+--------------+----------------+-----------------+--------+
only showing top 20 rows

+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+--------------------+
|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|          CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN| FULL_STREET_ADDRESS|
+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+--------------------+
|4210653310061055|     Natchez|United States| AHooper@example.com|(123)781-8|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         wm|123456100|656,Main Street N...|
|4210653310102868|Wethersfield|United States| EHolman@example.com|(123)893-3|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    brendan|123453023|   829,Redwood Drive|
|4210653310116272|     Huntley|United States| WDunham@example.com|(124)301-8|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   ezequiel|123454487|683,12th Street East|
|4210653310195948|   NewBerlin|United States|  EHardy@example.com|(124)321-5|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      trina|123459758|253,Country Club ...|
|4210653310356919|      ElPaso|United States|  WAyers@example.com|(124)207-4|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        may|123454431|  301,Madison Street|
|4210653310395982|NorthOlmsted|United States|BWoodard@example.com|(124)257-0|        OH|   44070|      Beau|  Woodard|2018-04-21T12:49:...|    ambrose|123454202|    3,Colonial Drive|
|4210653310400536|      Vienna|United States|   SKemp@example.com|(123)968-5|        VA|   22180|    Sheila|     Kemp|2018-04-21T12:49:...|      larry|123451799|   84,Belmont Avenue|
|4210653310459911|      Duarte|United States| WHurley@example.com|(123)821-3|        CA|   91010|     Wendy|   Hurley|2018-04-21T12:49:...|        ora|123453875|    728,Oxford Court|
|4210653310773972|      Owosso|United States|AGilmore@example.com|(124)068-9|        MI|   48867|      Alec|  Gilmore|2018-04-21T12:49:...|     tracie|123457511|    81,Forest Street|
|4210653310794854|        Zion|United States|    BLau@example.com|(123)522-2|        IL|   60099|    Barbra|      Lau|2018-04-21T12:49:...|    mitchel|123457464|    561,Court Street|
|4210653310817373|  Youngstown|United States|EThomson@example.com|(124)136-3|        OH|   44512|   Edmundo|  Thomson|2018-04-21T12:49:...|      denny|123457639|   622,Cypress Court|
|4210653310844617| Summerville|United States| ETruong@example.com|(123)622-8|        SC|   29483|      Elsa|   Truong|2018-04-21T12:49:...|   isabelle|123453242| 924,8th Street West|
|4210653311015303|      ElPaso|United States|HMckinney@example...|(123)816-5|        TX|   79930|     Homer| Mckinney|2018-04-21T12:49:...|      henry|123454339|     611,East Avenue|
|4210653311215039|      Fenton|United States|   RKidd@example.com|(123)473-0|        MI|   48430|      Rita|     Kidd|2018-04-21T12:49:...|     rickey|123454537|        680,Route 44|
|4210653311229354|  Grandville|United States|ABallard@example.com|(124)211-3|        MI|   49418|    Amalia|  Ballard|2018-04-21T12:49:...|  heriberto|123452373|    71,Warren Street|
|4210653311652836|    YubaCity|United States| PThomas@example.com|(123)988-8|        CA|   95993|     Patty|   Thomas|2018-04-21T12:49:...|   angelita|123455343|    195,Jones Street|
|4210653311707126|   CapeCoral|United States| JMorrow@example.com|(124)015-8|        FL|   33904|  Josefina|   Morrow|2018-04-21T12:49:...|   dorothea|123451533|      500,New Street|
|4210653311730764|  Brookfield|United States|NAndrews@example.com|(124)140-8|        WI|   53045|    Nelson|  Andrews|2018-04-21T12:49:...|  jefferson|123459278| 989,Division Street|
|4210653311898082|    Richmond|United States|MSchneider@exampl...|(123)839-0|        VA|   23223|    Miquel|Schneider|2018-04-21T12:49:...|     maximo|123456915|    810,Maple Street|
|4210653312021765| WestChester|United States|PTidwell@example.com|(123)506-7|        PA|   19380|    Parker|  Tidwell|2018-04-21T12:49:...|    arnulfo|123453807|      649,Eagle Road|
+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+--------------------+
only showing top 20 rows

root
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = false)

In [9]:
dataframe_branch = spark.read.json(file_list[0])
dataframe_branch.printSchema()
type(dataframe_branch)

root
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

pyspark.sql.dataframe.DataFrame